/* src/App.css */
.App {
    font-family: sans-serif;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #0055ff;
    padding: 20px;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #0d00ff;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: calc(20% - 40px);
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product-item button {
    margin-top: 10px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

button.buy-button {
    background-color: #3498db;
}

button.cart-button {
    background-color: #e74c3c;
}

.cart {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.cart h2 {
    margin-bottom: 10px;
}

.cart-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}